.container {
    display: flex;
    justify-content: space-around;
}

.container > div {
    background-color: #f1f1f1bd;
    padding: 10px;
}

#btn-repay {
    display: none;
}

span {
    display: inline-block;
}